<a href="https://colab.research.google.com/github/keerthana-24-dharmaram/DATA-MINING/blob/main/LAB_06(ADM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [12]:
#Example Data
data={'Category':['A','B','C','A','B']}
df=pd.DataFrame(data)

In [14]:
label_encoder = LabelEncoder()
df['Category_Encoded'] = label_encoder.fit_transform(df['Category'])

In [15]:
one_hot_encoder = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoder], axis=1)

In [26]:
#example data
data={'Name':['Alice','Bob'],'DateOfBirth':['1990-05-15','1985-08-23']}
df=pd.DataFrame(data)
print(df)

    Name DateOfBirth
0  Alice  1990-05-15
1    Bob  1985-08-23

In [27]:
#Convert Data_of_Birth to datetime
df['DateOfBirth']=pd.to_datetime(df['DateOfBirth'])
print(df)

    Name DateOfBirth
0  Alice  1990-05-15
1    Bob  1985-08-23

In [28]:
from datetime import datetime

In [30]:
#calculate Age
current_year=datetime.now().year
df['Age']=current_year-df['DateOfBirth'].dt.year
print(df)

    Name DateOfBirth  Age
0  Alice  1990-05-15   35
1    Bob  1985-08-23   40

In [32]:
#example data
data={'Category':['A','A','B','B','C'],
      'Value':[10,20,10,30,40]}
df=pd.DataFrame(data)
print(df)

  Category  Value
0        A     10
1        A     20
2        B     10
3        B     30
4        C     40

In [33]:
#Group by and aggregate
grouped=df.groupby('Category').agg({'Value': ['sum','mean']})
print("Grouped Data:\n", grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [34]:
#Pivot table
pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum', 'mean'])
print("Pivot Table:\n", pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0