<a href="https://colab.research.google.com/github/keerthana-24-dharmaram/DATA-MINING/blob/main/LAB_04(ADM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Encoding

In [2]:
col_data = {'color':['Red','Green','blue','yellow','white']}
df_col = pd.DataFrame(col_data)

Perform One-Hot Encoding

In [3]:
one_hot_encoded = pd.get_dummies(df_col['color'],prefix='color')

In [4]:
one_hot_encoded = one_hot_encoded.astype(int)

In [5]:
print(one_hot_encoded)

   color_Green  color_Red  color_blue  color_white  color_yellow
0            0          1           0            0             0
1            1          0           0            0             0
2            0          0           1            0             0
3            0          0           0            0             1
4            0          0           0            1             0

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
label_encoder = LabelEncoder()

In [8]:
df_col['Color_Label'] = label_encoder.fit_transform(df_col['color'])

In [9]:
df_col['Color_Label']

0    1
1    0
2    2
3    4
4    3
Name: Color_Label, dtype: int64